*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3.5rem;
}
body{
    background: hsl(210, 20%, 11%);
    color: black;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 10px;
    transition-duration: .3s;
}
header span{
    color: purple;
}
header.sticky{
    padding: 12px 30px;
    background: purple;
}
.sticky .navbar a::after{
    background: hsl(210, 20%, 11%);
}
.sticky .h-btn{
    background: hsl(210, 20%, 11%);
    color: white;
    box-shadow: 4px 4px white;
}
.sticky span{
    color: white;
}
.logo{
    color: white;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}
span{
    color: purple;
}
.navbar{
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar a{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 10px;
}
.navbar a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: purple;
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}
.navbar a:hover::after{
    width: 100%;
}
#menu-icon{
    font-size: 25px;
    color: white;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.h-btn{
    padding: 0 20px;
    height: 30px;
    display: inline-block;
    line-height: 32px;
    background: purple;
    color: white;
    border: none;
    box-shadow: 4px 4px white;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .30s;
}
.h-btn:hover{
    transform: translateY(-7px);
}
/******* Home *******/
.home{
    height: 100vh;
    position: relative;
    background: hsl(210, 20%, 11%);
}
.home .intro{
    position: absolute;
    left: 15%;
    top: 30%;
}
.home .intro h1{
    color: rgb(75, 75, 75);
    -webkit-text-stroke: 0.5px white;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.home .intro h2{
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.home .intro p{
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
}
.home img{
    position: absolute;
    right: 5%;
    bottom: 0;
    height: 95%;
}
.t-btn{
    display: flex;
    gap: 1rem;
    position: absolute;
    left: 15%;
    top: 80%;
}
.btn_1{
    background-color: purple;
    color: white;
    width: 90px;
    padding: 0.5rem;
    font-weight: bold;
    border: 4px solid transparent;
    box-shadow: 2px 2px white;
    align-items: center;
    display: flex;
    transition: all .30s;
    justify-content: center;
}
.btn_2{
    background-color: transparent;
    color: white;
    padding: 0.5rem;
    width: 90px;
    font-weight: bold;
    border: 2px solid purple;
    box-shadow: 2px 2px purple;
    align-items: center;
    display: flex;
    transition: all .30s;
    justify-content: center;
}
.btn_1:hover{
    cursor: pointer;
    transform: translateY(-7px);
}
.btn_2:hover{
    cursor: pointer;
    transform: translateY(-7px);
}
/*********** About section **************/
.about{
    background-color: hsl(210, 20%, 11%);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5rem;
    align-items: center;
    margin-top: 3rem;
}
.image img{
    padding-top: 100px;
    /* padding-left: 100px; */
    padding-bottom: 100px;
    max-width: 100%;
    width: 580px;
    height: auto;
}
.about-text h2{
    color: white;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 3px;
    margin: 0 0 30px;
}
.about-text h1{
    color: white;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 25px;
    line-height: 1.2;
    max-width: 470px;
}
.about-text p{
    max-width: 570px;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 6px;
    line-height: 23px;
    color: white;
}
.count{
    margin: 25px;
}
.about-text .count a{
    color: white;
    margin-right: 20px;
    word-spacing: 5px;
}
.count span{
    color: purple;
    font-size: 35px;
    font-weight: 600;
}
.btn1{
    margin-right: 20px;
}
.btn1{
    background: purple;
    color: white;
    box-shadow: 4px 4px white;
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: ease all 0.35s;
}
.btn1:hover{
    background: white;
    color: purple;
    box-shadow: 4px 4px purple;
}
.btn2{
    background: purple;
    color: white;
    box-shadow: 4px 4px white;
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: ease all 0.35s;
}
.btn2:hover{
    background: white;
    color: purple;
    box-shadow: 4px 4px purple;
}
/********** Class Table ***********/
.table{
    background-color: hsl(210, 20%, 11%);
    /* height: 100vh; */
    margin-top: 4rem;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    clear: both;
    /* position: relative; */
    /* padding-top: 70px; */
    top: 0px;
    /* border: 2px solid red; */
}
.table h2{
    color: white;
    /* padding-bottom: 30px; */
}
.table h1{
    color: white;
    /* font-size: 40px; */
    /* padding-bottom: 30px; */
}
.table ul{
    list-style-type: none;
    /* border: 2px solid red; */
    padding: 1rem 0;
    padding-bottom: 1.3rem ;
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: auto;

    /* padding-bottom: 30px; */
}
.table ul li a{
    padding:4px 10px !important;
}
.table ul li{
    
    /* display: inline; */
 
}
.table ul li a{
    border: 1px solid purple;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}
.table ul li a.active{
    background-color: purple;
    color: white;
}
.table ul li a:hover{
    background-color: purple;
    color: white;
}
.table table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
}
.table table th{
    background-color: purple;
    color: hsl(210, 20%, 11%);
    border: 1px solid grey;    
    padding: 10px;
}
.table table td{
    color: white;
    padding: 5px;
    border: 1px solid grey;
}
.table table span{
    color: white;
    font-size: 13px;
    font-weight: bold;
    display: block;
}
/************ BMI ************/
.bmi {
    margin-top: 5rem ;
    margin-bottom: 0;
    height: 90vh;
    /* border: 2px slateblue solid; */
  
    clear: both;
    padding-left: 5%;
  }
  
  .bmi .left {
    padding: 5%;
    width: 45%;
    float: left;
    height: 70vh;
    background-image: url("../img/bmi.jpg");
    color: white;
  }
  
  .bmi .left h2 {
    color: purple;
    padding-top: 40px;
    font-size: 20px;
  }
  
  .bmi .left h1 {
    font-size: 25px;
    text-shadow: 1px 1px purple;
  }
  
  .bmi .left p {
    line-height: 1.5;
  }
  
  .bmi .right {
    padding: 5%;
    width: 50%;
    float: right;
    background-color: hsl(210, 20%, 11%);
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  .bmi .right h1 {
    font-size: 25px;
  }
  
  .form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .bmi .right form input[type="text"],
  .bmi .right form select {
    padding: 10px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #2c2c2c;
    border: 2px solid grey;
    color: white;
    outline: none;
  }
  
  .bmi .right form input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: purple;
    box-shadow: 4px 4px white;
    border: 2px solid transparent;
    color: white;
    font-weight: 900;
   
  }
  
  .bmi .right form input[type="submit"]:hover {
    background-color: white;
    box-shadow: 4px 4px purple;
    color: purple;
  }
  

/********** Gallery ***********/
#gallery{
   
}
.gallery-container{
    /* border: 2px solid red; */
    display: grid;
  
    grid-template-columns: repeat(3, auto);
    flex-wrap: wrap;
    background-color: hsl(210, 20%, 11%);
    width: 100%;
    /* padding-top: 90px; */
    box-shadow: 0 0 3px 0 (purple);
    margin: 0 auto;
    padding: 4rem auto !important;
}
.gallery-item{
   
    margin-bottom: 6px;
    opacity: 0.85;
    cursor: pointer;
}
.gallery-item:hover{
    opacity: 1;
}
.gallery-item img{
    width: 100%;
    height: auto;
    object-fit: cover;
}


/********* testimonial **********/
.testimonials{
    /* padding: 40px 0; */
    background: hsl(210, 20%, 11%);
    text-align: center;
    margin: 4rem;
}
.testimonial p{
    font-size: 15px;
}
.inner h1{
    color: white;
    font-weight: 900;
    margin: 0;
}
.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}
.border{
    width: 160px;
    height: 5px;
    background: purple;
    margin: 1px auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 1rem; */
}
.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.col:hover{
    box-shadow: 0 5px 5px white;
    transform: translateY(20px);
}
.testimonial{
    background: white;
    padding: 10px 5px;
}
.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name{
    font-size: 20px;
    text-transform: uppercase;
    /* margin: 20px 0; */
}
.star{
    color: purple;
    margin-bottom: 5px;
}

/******** trainers ***********/
.title{
    text-align: center;
    text-transform: capitalize;
    color: white;
    margin: 10px 0;
    position: relative;
}
.team-row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* padding: 40px 0; */
}
.trainers{
    margin-top: 4rem;
}
.trainers h1{
    font-size: 40px;
    color: white;
    font-weight: 900
}
.member{
    flex: 1 1 250px;
    background: white;
   
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
    transition: all 0.3s;
}
.member:hover{
    box-shadow: 0 5px 5px white;
    transform: translateY(-20px);
}
.member img{
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid purple;
    margin: 0 auto;
}
.member h2{
    text-transform: uppercase;
    font-size: 24px;
    color: hsl(210, 20%, 11%);
    margin: 5px 0;
}
.member p{
    font-size: 15px;
    color: hsl(210, 20%, 11%);
    line-height: 1.6;
}
/*********** contact ********/
.contact{
    margin-top: 4rem;
}
.headings{
    align-content: center;
    color: white;
}
.headings h2{
    font-size: 40px;
    text-align: center;
}
.contact-form{
    display: grid;
    place-items: center;
    /* margin-top: 1rem; */
}
.contact-form form{
    display: flex;
    flex-direction: column;
    width: 90%;
}
form input, form textarea{
    padding: 15px;
    border-radius: 0.5rem;
    width: 96%;
    border: none;
    outline: none;
    background: hsla(260, 100%, 44%, 0.1);
    /* margin: 1rem; */
    margin-top: 10px;
    color: var(--text-color);
}
form textarea{
    resize: none;
    height: 200px;
}
button{
    width: 160px;
    height: 40px;
    border: none;
    cursor: pointer;
    background: purple;
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    width: 200px;
    letter-spacing: 1px;
    margin: 10px 0;
    border-radius: 10px;
    /* margin-left: 35%; */
    /* margin-bottom: 50px; */
}
button:hover{
    background: hsl(210, 20%, 11%);
    border: 2px solid white;
}







/* Responsive code */
@media (max-width: 1270px){
    header{
        padding: 18px 4%;
        transition: .2s;
    }
    header .sticky{
        padding: 10px 4%;
        transition: .2s;
    }
}
@media (max-width: 990px){
    .home{
        height: 520px;
    }
    #menu-icon{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        flex-direction: column;
        background: purple;
        text-align: left;
        transition: all .30s;
    }
    .navbar a{
        display: block;
        padding: 15px;
        margin: 17px;
        border-left: 2px solid hsl(210, 20%, 11%);
    }
    .navbar a:hover{
        background-color: hsl(210, 20%, 11%);
    }
    .navbar a::after{
        display: none;
    }
    .navbar.active{
        top: 100%;
    }
    .logo{
        color: white;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.5px;
    }
    .h-btn{
        padding: 0 10px;
        height: 25px;
        display: inline-block;
        line-height: 25px;
        font-size: 10px;
        letter-spacing: 1px;
    }
    .home .intro{
        left: 0;
        text-align: center;
        top: 25%;
    }
    .home .intro h1{
        font-size: 20px;
        letter-spacing: 1px;
    }
    .home .intro h2{
        font-size: 20px;
        letter-spacing: 1px;
    }
    .home .intro p{
        padding-left: 30px;
        padding-right: 30px;
        font-size: 10px;
        letter-spacing: 0.5px;
    }
    .home img{
        right: 15%;
        height: 55%;
    }
    .t-btn{
        display: none;
    }
    .about{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-text h2{
        max-width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 22px;
        line-height: 1.8;
    }
    .about-text h1{
        padding-left: 30px;
        padding-right: 30px;
        max-width: 100%;
        font-size: 19px;
    }
    .about-text p{
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%;
        font-size: 12px;
    }
    .about .image{
        display: none;
    }
    .count span{
        font-size: 25px;
        font-weight: 600;
    }
    .btn1{
        display: none;
    }
    .class{
        padding: 1rem;
    }
    .grid{
        grid-gap: 1rem;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 5px;
    }
    .sub-head h2{
        font-size: 20px;
    }
    .table{
        padding: 5%;
        width: 90%;
        overflow: auto;
    }
    .table h2{
        font-size: 20px;
        padding: 0;
    }
    .table h1{
        font-size: 25px;
        padding-top: 10px;
    }
    .table ul li{
        display: block;
    }
    .table ul li a{
        display: block;
    }
    .bmi .left{
        padding: 5%;
        width: 90%;
        float: none;
        background-size: contain;
    }
    .bmi .right{
        padding: 5%;
        width: 90%;
        float: none;
    }
    .bmi .right form input [type="text"]{
        display: block;
        width: 90%;
    }
    .gallery-container{
        width: 100%;
    }
    .gallery-item{
        flex-basis: 100%;
        margin-bottom: 1px;
    }
    .lightbox-content{
        width: 90%;
        height: 50%;
        margin: 20% auto;
    }
    .col{
        flex: 100%;
        max-width: 100%;
    }
    .contact-form form{
        width: 250px;
    }
    .contact-form button{
        margin-left: 20%;
    }
    .headings h2{
        font-size: 30px;
        margin-left: 30%;
    }
    
    
}